<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Inedo.Agents" version="40.1.0" targetFramework="net452" />
  <package id="Inedo.Agents.Client" version="528.0.0-pre0002" targetFramework="net452" />
  <package id="Inedo.ExecutionEngine" version="64.0.0-pre0004" targetFramework="net452" />
  <package id="Inedo.SDK.DevOnly" version="1.0.4" targetFramework="net452" />
  <package id="Inedo.UPack" version="0.1.0-pre0026" targetFramework="net452" />
  <package id="InedoLib" version="528.0.0-pre0002" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net452" />
  <package id="System.Data.SQLite.Core" version="1.0.108.0" targetFramework="net452" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net452" />
</packages>